/*001*/
article {
    column-count: 2;
    column-width: 8rem;
    column-gap: 12%;
    column-rule-style: double;
    column-rule-width: thick;
}
@media only screen and (max-width: 768px) {
    /*001*/
    article {
        column-count: 1;
        column-width: 8rem;
        column-gap: 12%;
        column-rule-style: double;
        column-rule-width: thick;
    }
}
